# Python
__pycache__/
*.pyc
agrivision/db.sqlite3
agrivision/media/
agrivision/staticfiles/

# Node / React
node_modules/
dist/
build/
.vite/

# Env & secrets
.env
.env.local

# VCS / IDE / OS
.git/
.vscode/
.idea/
.DS_Store
Thumbs.db
